body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 24px;
    color: white;
}

button.choose-file-button {	
    position: absolute;
    top: 35%;
    left: 45%;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 13px;
    color: #6E2C00;
}

button.analyze-button {
    position: absolute;
    top: 75%;
    left: 45%;
    width: 200px;
    height: 40px;
    border: solid 1px #6E2C00;
    border-radius: 2px;
    background-color: #6E2C00;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

.image-picked-container {
    position: absolute;
    top: 50%;
    left: 45%;
}